main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .constraint {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 620px;
    padding: 0 10px;
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;

    .btn-group {
      position: relative;
      display: inline-flex;
      align-items: center;
      margin-right: 10px;
      margin-top: 10px;
      // width: 180px;

      .btn {
        padding: 5px 10px;
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        background-color: #f7988f;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken(#f7988f, 10%);
        }

        &:active {
          background-color: darken(#f7988f, 15%);
        }

        &.dropdown-toggle::after {
          margin-left: 10px;
          content: "\25BC"; // Down arrow
          font-size: 12px;
          color: #fff;
        }
      }

      .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 4;
        display: none;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 16px;
        color: #333;
        text-align: left;
        list-style: none;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        &.show {
          display: block;
        }
        .dropdown-item {
          display: block;
          width: 100%;
          padding: 8px 20px;
          clear: both;
          font-weight: normal;
          color: #333;
          text-align: inherit;
          white-space: nowrap;
          background: none;
          border: 0;

          &:hover,
          &:focus {
            color: #fff;
            text-decoration: none;
            background-color: #f7988f;
          }
        }

        .dropdown-divider {
          height: 1px;
          margin: 0.5rem 0;
          overflow: hidden;
          background-color: #e9ecef;
        }
      }

      &:hover .dropdown-menu,
      &:focus .dropdown-menu {
        display: block;
      }
    }
  }
  .constraint-apply {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 620px;
    padding: 0 10px;
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;
    .btn-group {
      position: relative;
      display: inline-flex;
      align-items: center;
      margin-right: 10px;
      margin-top: 10px;
      // width: 180px;

      .btn {
        padding: 5px 10px;
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        background-color: #ff6619;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken(#ff6619, 10%);
        }

        &:active {
          background-color: darken(#ff6619, 15%);
        }

        &.dropdown-toggle::after {
          margin-left: 10px;
          content: "\25BC"; // Down arrow
          font-size: 12px;
          color: #fff;
        }
      }

      .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 4;
        display: none;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 16px;
        color: #333;
        text-align: left;
        list-style: none;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        &.show {
          display: block;
        }
        .dropdown-item {
          display: block;
          width: 100%;
          padding: 8px 20px;
          clear: both;
          font-weight: normal;
          color: #333;
          text-align: inherit;
          white-space: nowrap;
          background: none;
          border: 0;

          &:hover,
          &:focus {
            color: #fff;
            text-decoration: none;
            background-color: #ff6619;
          }
        }

        .dropdown-divider {
          height: 1px;
          margin: 0.5rem 0;
          overflow: hidden;
          background-color: #e9ecef;
        }
      }

      &:hover .dropdown-menu,
      &:focus .dropdown-menu {
        display: block;
      }
    }
    .user-location {
      margin-top: 10px;
      margin-left: 10px;
      padding: 5px 10px;
      font-size: 16px;
      font-weight: bold;
      color: #f7988f;
      background-color: white;
      border: 2px solid #f7988f;
      border-radius: 20px;
      cursor: default;
    }
    .constraint-apply {
      margin-top: 10px;
      margin-left: 10px;
      width: auto;
      padding: 5px 10px;
      font-size: 16px;
      font-weight: bold;
      color: #f7988f;
      background-color: white;
      border: 2px solid #f7988f;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken(#f7988f, 10%);
      }

      &:active {
        background-color: darken(#f7988f, 15%);
      }
    }
    .data-length {
      margin-top: 10px;
      margin-left: 10px;
      padding: 5px 10px;
      // border: 2px solid black;
      font-weight: 700;
      border-radius: 20px;
      color: rgb(255, 123, 0);
      text-shadow: 0 2px 5px rgba(255, 123, 0, 0.3);
      box-shadow: 0 1px 5px rgba(255, 123, 0, 0.5);
      opacity: 0;
      // transition: 0.1 ease;
    }
  }

  .restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;
    width: 100%;
    .card-container {
      background-color: #c5c5c5;
      border-radius: 10px;
      box-shadow: 0.1px 10px rgba(0, 0, 0, 0.1);

      width: 100%;
      max-width: 600px;
      text-align: center;
      position: relative;

      .restaurant-card {
        border-radius: 10px;
        padding: 0 0 10px 0;
        background-color: white;
        transform: translate(0px, 0px);
        transition: 0.5s ease;
        .restaurant-photo {
          display: flex;
          align-items: center;
          position: relative;
          cursor: pointer;
          overflow: hidden;

          .restaurant-img {
            border-radius: 10px 10px 0 0;
            width: 100%;
            height: 500px;
            object-fit: cover;
            background-color: rgba(255, 124, 9, 0.5);
            transform: scale(1, 1);
            transition: transform 0.5s;
            &:hover {
              transform: scale(1.1, 1.1);
              transition: 0.5s;
            }
          }

          .indicators-group {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            gap: 10px;
            z-index: 3;

            .indicator {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #ccc;
              cursor: pointer;

              &.active {
                background-color: white; /* 當前圖片的圓點顏色 */
              }
            }
          }
        }
        .restaurant-title {
          display: flex;
          justify-content: start;
          align-items: center;
          margin: 30px 0 10px 0;
          .heart {
            display: none;
            width: 30px;
            height: 30px;
            margin-left: 10px;
            cursor: pointer;
            &:hover {
              width: 35px;
              height: 35px;
              transition: 0.3s ease;
            }
          }
          .regular-heart:active {
            animation: shake 0.15s;
          }

          .restaurant-name {
            text-align: left;
            font-size: 2rem;
            padding: 0 10px 0 10px;
          }
        }

        .restaurant-info {
          margin: 10px 0 20px 0;
          .restaurant-tags_group {
            display: flex;
            align-items: center;
            justify-self: start;
            flex-wrap: wrap;
            .restaurant-tag {
              font-weight: 500;
              padding: 10px;
              margin-left: 0.5rem;
              margin-top: 0.5rem;
              border: 2px solid #080808;
              border-radius: 30px;
            }
            .restaurant-open {
              background-color: rgba(green, 0.8);
              color: white;
              display: none;
            }
            .restaurant-close {
              background-color: rgba(red, 0.8);
              color: white;
              display: none;
            }
            .attitude-new {
              background-color: rgba(rgb(255, 136, 0), 1);
              color: white;
              display: none;
            }
            .attitude-like {
              background-color: rgba(rgb(242, 100, 124), 1);
              color: white;
              display: none;
            }
            .attitude-consider {
              background-color: rgba(#10a4e8, 1);
              color: white;
              display: none;
            }
            .block-group {
              display: flex;
              align-items: center;
              font-weight: 600;
              cursor: pointer;

              margin-left: 0.5rem;
              margin-top: 0.5rem;
              display: none;

              &-deactivate {
                color: #e8e8e8;
              }
              &-activate {
                color: red;
              }
              .block {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
        .restaurant-detail_info {
          display: flex;
          // display: none;
          flex-direction: column;
          align-items: center;
          .seperate {
            margin: 20px 0 20px 0;
            width: 95%;
          }
          .address-group {
            width: 100%;
            padding: 5px;
            display: flex;
            align-items: center;
            .address-icon {
              width: 30px;
              height: 30px;
              border-radius: 50%;
            }
            .address {
              margin-left: 10px;
              text-align: left;
            }
            .navigation {
              display: flex;
              align-items: center;
              margin-left: 10px;
              border: 2px solid #e8e8e8;
              // background-color: #f7988f;
              padding: 2px 5px;
              border-radius: 5px;
              cursor: pointer;

              .navigation-btn {
                display: flex;
                align-items: center;
                margin-left: 2px;
                background-color: white;
                border: none;
                font-size: 0.8rem;
                color: gray;
                cursor: pointer;
                .navigation-icon {
                  width: 20px;
                  height: 20px;
                  color: white;
                }
              }
              &:hover {
                transition: 0.3s ease;
                border: 2px solid black;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                .navigation-btn {
                  transition: 0.3s ease;
                  font-weight: 700;
                }
              }
            }
          }
          .services-group {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: start;
            margin-top: 10px;
            flex-wrap: wrap;
            .service {
              display: flex;
              align-items: center;
              padding: 0 10px 0 10px;
              margin-top: 0.5rem;
              img {
                width: 30px;
                height: 30px;
              }
              .service-text {
                margin-left: 5px;
              }
            }
          }
        }
      }
      .next-page {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        top: 467px;
        right: 0;
        width: 120px;
        font-size: 1.5rem;
        height: 70px;
        border-radius: 25px 0 0 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 2;
        transition: 0.5s ease;

        &:hover {
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          background-color: darken(rgb(151, 128, 128), 20%);
          width: 150px;
          transform: translate(0, 5px);
          transition: 0.5s ease;
        }
      }
      .next-page:hover ~ .restaurant-card {
        transform: translate(0, 12px);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        transition: 0.5s ease;
      }
    }
  }

  .add-comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 0 0;
    padding: 0 10px 0 10px;
    width: 100%;
    .add-comment {
      background-color: white;
      border-radius: 10px;
      width: 100%;
      height: 150px;
      max-width: 600px;
      display: flex;
      align-items: center;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      margin-top: 15px;
      margin-bottom: 25px;
      position: relative;
      .img-container {
        min-width: 150px;
        height: 150px;
        background-color: rgba(128, 128, 128, 0.333);
        border-radius: 10px 0 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img.uploadIcon {
          width: 100px;
          height: 100px;
          border-radius: 10px 0 0 10px;
          object-fit: cover;
          // display: none;
        }
        img.preview {
          width: 100%;
          min-width: 150px;
          max-width: 150px;
          height: 100%;
          border-radius: 10px 0 0 10px;
          object-fit: cover;
          display: none;
        }

        .img-upload-btn {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
        }
      }
      .comment-container {
        display: flex;
        flex-direction: column;
        padding: 15px;
        width: 100%;
        height: 150px;
        .note {
          font-weight: 500;
          display: flex;
          .loading {
            margin-left: 10px;
            color: red;
            display: none;
          }
        }
        .rating {
          display: flex;
          align-items: center;
          position: relative;
          margin-top: 5px;
          input.rating_range {
            z-index: 2;
            opacity: 0;
            cursor: pointer;
          }
          .star-group {
            position: absolute;
            .star {
              margin: 5px 5px 0 0;
              width: 20px;
              height: 20px;
            }
          }
        }
        .comment-content {
          width: 100%;
          height: auto;
          border-radius: 5px;
          margin-top: 10px;
          padding: 5px;
          resize: none;
        }
      }
      .comment-submit {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 50px;
        line-height: 24px;
        border-radius: 10px;
        background-color: rgba(128, 128, 128, 0.5);
        color: white;
        border: none;
        z-index: 5;
        cursor: pointer;
      }
      &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        transition: 0.5s ease;
      }
    }
  }
  .comments_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;
    width: 100%;

    .comment {
      background-color: white;
      border-radius: 10px;
      width: 100%;
      max-width: 600px;
      display: flex;
      align-items: center;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      margin-top: 15px;

      .img-container {
        width: 150px;
        height: 150px;
        img {
          width: 100%;
          min-width: 150px;
          height: 100%;
          border-radius: 10px 0 0 10px;
          object-fit: cover;
        }
      }
      .comment-content {
        padding: 15px;
        width: 100%;
        height: 150px;
        .comment-user_info {
          display: flex;
          flex-wrap: wrap;
          .comment-user {
            font-weight: 600;
            max-width: 150px;
            // border: 2px solid black;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .comment-user_score {
            min-width: 146px;
          }
        }
        .star {
          margin-top: 5px;
          width: 20px;
          height: 20px;
        }
        .comment-text {
          height: 50px;
          line-height: 25px;
          font-size: 1rem;
          font-weight: 500;

          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        transition: 0.5s ease;
      }
    }
  }
  // .action {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-around;
  //   margin: 1.5rem 0 1.5rem 0;
  //   position: fixed;
  //   align-items: center;
  //   width: 100px;
  //   height: 350px;
  //   bottom: 0;
  //   right: 20%;
  //   background-color: rgba($color: #080808, $alpha: 0.8);
  //   border-radius: 20px;
  //   box-shadow: 0 1px 10px 0 gray;
  //   display: none;
  //   .action-btn {
  //     box-shadow: 0 1px 10px 0 white;
  //     background-color: white;
  //     width: 80px;
  //     height: 80px;
  //     border-radius: 50%;
  //     cursor: pointer;
  //     border-radius: 0.5;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;

  //     img {
  //       width: 60%;
  //       height: 60%;
  //     }
  //   }
  //   .consider {
  //     width: 75px;
  //     height: 75px;
  //   }
  // }
  .button-area {
    width: 100%;
    height: 170px;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
