main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .constraint {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 620px;
    padding: 0 10px;
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .btn-group {
      position: relative;
      display: inline-flex;
      align-items: center;
      margin-right: 15px;
      margin-top: 10px;

      .btn {
        padding: 5px 10px;
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        background-color: #f7988f;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken(#f7988f, 10%);
        }

        &:active {
          background-color: darken(#f7988f, 15%);
        }

        &.dropdown-toggle::after {
          margin-left: 10px;
          content: "\25BC"; // Down arrow
          font-size: 12px;
          color: #fff;
        }
      }

      .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 16px;
        color: #333;
        text-align: left;
        list-style: none;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        &.show {
          display: block;
        }
        .dropdown-item {
          display: block;
          width: 100%;
          padding: 8px 20px;
          clear: both;
          font-weight: normal;
          color: #333;
          text-align: inherit;
          white-space: nowrap;
          background: none;
          border: 0;

          &:hover,
          &:focus {
            color: #fff;
            text-decoration: none;
            background-color: #f7988f;
          }
        }

        .dropdown-divider {
          height: 1px;
          margin: 0.5rem 0;
          overflow: hidden;
          background-color: #e9ecef;
        }
      }

      &:hover .dropdown-menu,
      &:focus .dropdown-menu {
        display: block;
      }
    }

    .constraint-apply {
      margin-top: 10px;

      padding: 5px 10px;
      font-size: 16px;
      font-weight: bold;
      color: #f7988f;
      background-color: white;
      border: 2px solid #f7988f;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken(#f7988f, 10%);
      }

      &:active {
        background-color: darken(#f7988f, 15%);
      }
    }
    .data-length {
      margin-top: 10px;
      margin-left: 10px;
      padding: 5px 10px;
      // border: 2px solid black;
      font-weight: 700;
      border-radius: 20px;
      color: rgb(255, 123, 0);
      text-shadow: 0 2px 5px rgba(255, 123, 0, 0.3);
      box-shadow: 0 1px 5px rgba(255, 123, 0, 0.5);
      opacity: 0;
      // transition: 0.1 ease;
    }
  }

  .restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;
    width: 100%;

    .restaurant-card {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 600px;
      text-align: center;

      .restaurant-photo {
        display: flex;
        align-items: center;
        position: relative;
        .restaurant-img {
          border-radius: 10px 10px 0 0;
          width: 100%;
          height: 450px;
          object-fit: cover;
          background-color: rgba(255, 124, 9, 0.5);
        }
        .arrow {
          position: absolute;
          border: none;
          border-radius: 50%;

          &:hover {
            cursor: pointer;
          }
        }

        .left-arrow {
          display: none;
          left: 5px;
        }
        .right-arrow {
          display: none;
          right: 5px;
        }
      }
      .restaurant-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0 10px 0;
        .restaurant-name {
          text-align: left;
          font-size: 2rem;
          padding: 0 10px 0 10px;
          cursor: pointer;
          &:hover {
            text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          }
        }
        .restaurant-detail_btn {
          margin-right: 20px;
          height: 30px;
          width: 30px;
          cursor: pointer;
        }
      }

      .restaurant-info {
        margin: 10px 0 20px 0;
        .restaurant-tags_group {
          display: flex;
          align-items: center;
          justify-self: start;
          flex-wrap: wrap;
          .restaurant-tag {
            font-weight: 500;
            padding: 10px;
            margin-left: 0.5rem;
            margin-top: 0.5rem;
            border: 2px solid #080808;
            border-radius: 30px;
          }
          .restaurant-open {
            background-color: rgba(green, 0.8);
            color: white;
            display: none;
          }
          .restaurant-close {
            background-color: rgba(red, 0.8);
            color: white;
            display: none;
          }
          .attitude-new {
            background-color: rgba(rgb(255, 136, 0), 1);
            color: white;
            display: none;
          }
          .attitude-like {
            background-color: rgba(rgb(242, 100, 124), 1);
            color: white;
            display: none;
          }
          .attitude-consider {
            background-color: rgba(#10a4e8, 1);
            color: white;
            display: none;
          }
        }
      }
      .restaurant-detail_info {
        display: flex;
        // display: none;
        flex-direction: column;
        align-items: center;
        .seperate {
          margin: 20px 0 20px 0;
          width: 95%;
        }
        .address-group {
          width: 100%;
          padding: 5px;
          display: flex;
          align-items: center;
          .address-icon {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
          .address {
            margin-left: 10px;
            text-align: left;
          }
        }
        .services-group {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: start;
          margin-top: 10px;
          flex-wrap: wrap;
          .service {
            display: flex;
            align-items: center;
            padding: 0 10px 0 10px;
            margin-top: 0.5rem;
            img {
              width: 30px;
              height: 30px;
            }
            .service-text {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
  .no-comment {
    width: 100%;
    max-width: 620px;
    margin: 25px 0;
    padding: 0 10px;
    .without-comment {
      background-color: rgba(128, 128, 128, 0.405);
      border-radius: 10px;
      font-weight: 500;
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .comments_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;
    width: 100%;
    .comment {
      background-color: white;
      border-radius: 10px;
      width: 100%;
      max-width: 600px;
      display: flex;
      align-items: center;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      margin-top: 15px;

      .img-container {
        width: 150px;
        height: 150px;
        img {
          width: 100%;
          min-width: 150px;
          height: 100%;
          border-radius: 10px 0 0 10px;
          object-fit: cover;
        }
      }
      .comment-content {
        padding: 15px;
        width: 100%;
        height: 150px;
        .comment-user_info {
          display: flex;
          flex-wrap: wrap;
          .comment-user {
            font-weight: 600;
            max-width: 150px;
            // border: 2px solid black;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .comment-user_score {
            min-width: 146px;
          }
        }
        .star {
          margin-top: 5px;
          width: 20px;
          height: 20px;
        }
        .comment-text {
          height: 50px;
          line-height: 25px;
          font-size: 1rem;
          font-weight: 500;

          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        transition: 0.5s ease;
      }
    }
  }
  .action {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0 1.5rem 0;
    position: fixed;
    align-items: center;
    width: 350px;
    height: 100px;
    bottom: 30px;
    background-color: rgba($color: #080808, $alpha: 0.8);
    border-radius: 20px;
    box-shadow: 0 1px 10px 0 gray;
    .action-btn {
      box-shadow: 0 1px 10px 0 white;
      background-color: white;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      cursor: pointer;
      border-radius: 0.5;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 60%;
        height: 60%;
      }
    }
    .consider {
      width: 75px;
      height: 75px;
    }
  }
  .button-area {
    width: 100%;
    height: 170px;
  }
}
